.detailView {
  background-image: url("C:\Users\Lucas\Documents\Programación\PI-Food-main\client\src\assets\images\detailBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 140px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.detailTitle {
  font-size: 5em;
  text-align: left;
  margin-left: 150px;
  color: whitesmoke;
  text-shadow: 3px 3px 8px #db363b;
  text-decoration: overline;
}
.loading {
  font-size: 3.5em;
  text-align: center;
  margin-top: 150px;
  color: whitesmoke;
  text-shadow: 3px 3px 8px #db363b;
  text-decoration: overline;
}
.container {
  width: 60%;
  height: max-content;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(245, 97, 97, 0.7);
  border: 1px solid whitesmoke;
  border-radius: 15px;
  box-shadow: 3px 3px 8px #db363b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 2.5em;
  text-align: center;
  color: whitesmoke;
  text-shadow: 3px 3px 8px #db363b;
}
.subTitle {
  font-size: 2.2em;
  text-align: center;
  color: whitesmoke;
  text-shadow: 3px 3px 8px #db363b;
}
.image {
  margin: 50px;
  box-shadow: 3px 3px 8px white;
  border-radius: 15px;
}
.text {
  font-size: 1.2em;
  text-align: center;
  color: whitesmoke;
  margin: 50px;
}
.diets {
  font-size: 1.2em;
  color: whitesmoke;
}

.separator {
  border: 1px solid white;
  width: 90%;
}
