.home {
  margin-top: 140px;
  width: 100%;
  background-image: url("C:\Users\Lucas\Documents\Programación\PI-Food-main\client\src\assets\images\fondoHome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 5em;
  text-align: left;
  margin-left: 150px;
  color: whitesmoke;
  text-shadow: 3px 3px 3px #db363b;
  text-decoration: overline;
}
.loading {
  font-size: 3.5em;
  text-align: center;
  margin-top: 150px;
  color: whitesmoke;
  text-shadow: 3px 3px 3px #db363b;
  text-decoration: overline;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu {
  font-size: 1.3em;
  background: rgba(245, 97, 97, 0.7);
  border: 1px solid white;
  color: white;
  text-shadow: 2px 2px 3px black;
  height: max-content;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px black;
}
@media screen and (max-width: 900px) {
  .home {
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 40px;
  }
  .title {
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
  }

  .loading {
    font-size: 1.5em;
  }
}
