.home {
  margin-top: 140px;
  width: 100%;
  background-image: url("C:\Users\Lucas\Documents\Programación\PI-Food-main\client\src\assets\images\fondoHome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 5em;
  text-align: left;
  margin-left: 150px;
  color: whitesmoke;
  text-shadow: 3px 3px 8px darksalmon;
  text-decoration: overline;
}
