.card {
  padding: 1rem;
  height: 25rem;
  margin: 20px;
  background: rgba(245, 97, 97, 0.7);
  border: 1px solid whitesmoke;
  border-radius: 15px;
  box-shadow: 3px 3px 8px #db363b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 2em;
  text-decoration: underline;
  text-align: center;
  color: whitesmoke;
  text-shadow: 3px 3px 8px #db363b;
}
.image {
  box-shadow: 3px 3px 8px white;
  border-radius: 15px;
}
