.button {
  font-size: 1.25em;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 5px;
  height: max-content;
  width: max-content;
  box-shadow: 3px 3px 10px coral;
  border: 0px;
  transition: 0.2s ease-in-out;
  text-shadow: 1px 1px 3px coral;
  background: rgba(117, 102, 63, 0.5);
}

.button:hover {
  transition-delay: 0.2s;
  font-size: 1.2em;
}
