.button {
  font-size: 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 3px 3px 8px black;
  transition: all 0.3s;
  text-shadow: 1px 1px 3px black;
  background: rgba(245, 97, 97, 0.7);
  padding: 1.1em 2em;
  margin: 20px;
  border: 2px solid white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-weight: bolder;
}
.noButton {
  display: none;
}
.button:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #e98488;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.button:hover {
  background-color: white;
  color: #db363b;
  border: 2px solid #db363b;
}

.button:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.button:active {
  transform: scale(0.9);
}

@media screen and (max-width: 800px) {
  .button {
    font-size: 10px;
    padding: 0.5em 1em;
  }
}
@media screen and (max-width: 600px) {
  .button {
    font-size: 8px;
    padding: 0.5em 1em;
  }
}
