.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: white;
  text-shadow: 3px 3px 8px black;
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 900px) {
  .text {
    font-size: 0.5em;
  }
}
