.input {
  font-size: 1.3em;
  text-align: center;
  margin-top: 80px;
  margin-left: 80px;
  border: 0px;
  border-radius: 3px;
  box-shadow: 3px 3px 8px black;
  transition: all 0.3s;
}
.input:hover {
  transform: scale(1.1);
  transition-delay: 0.3s;
}

@media screen and (max-width: 900px) {
  .input {
    width: 50%;
    margin: 0px;
    font-size: 1em;
    margin-left: 5px;
  }
}
