.carrousel {
  display: flex;
  height: 25rem;
  gap: 1rem;
  width: 80%;
  margin-left: 200px;
}

.uno {
  background-image: url("C:\Users\Lucas\Documents\Programación\PI-Food-main\client\src\assets\images\carr1.jpg");
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 1s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.dos {
  background-image: url("C:\Users\Lucas\Documents\Programación\PI-Food-main\client\src\assets\images\carr2.jpg");
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 1s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.tres {
  background-image: url("C:\Users\Lucas\Documents\Programación\PI-Food-main\client\src\assets\images\carr3.jpg");
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 1s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.cuatro {
  background-image: url("C:\Users\Lucas\Documents\Programación\PI-Food-main\client\src\assets\images\carr4.jpg");
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 1s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.cinco {
  background-image: url("C:\Users\Lucas\Documents\Programación\PI-Food-main\client\src\assets\images\carr5.jpg");
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 1s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.uno:hover {
  flex: 5;
}
.dos:hover {
  flex: 5;
}
.tres:hover {
  flex: 5;
}
.cuatro:hover {
  flex: 5;
}
.cinco:hover {
  flex: 5;
}
