.container {
  display: grid;
  margin: 0 auto;
  grid-gap: 1rem;
  margin-left: 5%;
}
@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
