.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  margin-top: 140px;
  background-image: url("C:\Users\Lucas\Documents\Programación\PI-Food-main\client\src\assets\images\aboutBG.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.container {
  font-size: 3em;
  text-align: center;
  color: whitesmoke;
  margin: 50px;
  text-shadow: 2px 2px 3px black;
  text-align: left;
}
.image {
  border-radius: 15px;
  width: 30%;
  float: left;
  box-shadow: 3px 3px 3px black;
  border: 2px solid black;
  margin: 50px;
}
.title {
  margin-bottom: 50px;
  font-size: 5em;
  color: whitesmoke;
  text-shadow: 3px 3px 3px #db363b;
  text-decoration: overline;
}
.link {
  font-size: 0.5em;
  text-decoration: none;
  margin: 20px;
  transition: 0.2s ease-in-out;
}
.link:hover {
  transform: scale(1.1);
  transition-delay: 0.2s;
}
.link:visited {
  color: white;
}
.linkContainer {
  margin-left: 60%;
  width: fit-content;
}
@media screen and (max-width: 900px) {
  .view {
    margin-top: 40px;
    padding-bottom: 450px;
  }
  .title {
    font-size: 3em;
  }
  .container {
    font-size: 1.5em;
  }
}
