.navBar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: #db363b;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("C:\Users\Lucas\Documents\Programación\PI-Food-main\client\src\assets\images\NavBarBG.jpg");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 120px;
}
.logo {
  height: 80%;
  margin-top: 10px;
  margin-left: 25px;
}
.menuContainer {
  display: flex;
  justify-content: right;
  margin-right: 250px;
  margin-top: 60px;
}

.menuText {
  font-size: 1.5em;
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
  text-shadow: 3px 3px 5px white;
}
.menuText:hover {
  font-size: 1.45em;
  transition-delay: 0.3s;
}
.menuText:visited {
  color: white;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .navBar {
    height: 20px;
  }
  .searchContainer {
    justify-content: center;
    align-items: center;
  }
  .logo {
    height: 20px;
    width: 30px;
    margin-left: 5px;
  }
  .menuContainer {
    margin-top: 0px;
    margin-right: 70px;
  }
  .menuText {
    font-size: 1em;
    align-items: center;
    padding: 5px;
  }
}
